[Desktop Entry]
Version=1.0
Type=Application
Name=DeckDrop
Comment=LAN-Spieleübertragung
Exec=deckdrop --kiosk
Icon=deckdrop
Categories=Game;
Terminal=false
